/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

arsidah-df2e4-firebase-adminsdk-yfwwy-b1c4003d52.json
travel-e5a20-firebase-adminsdk-kl9ma-b300a4c6c8.json
